<div class="hero-container">
    <div class="hero-container__description">
        <h1 
            class="hero-container__title"
            aria-label="Main title"
            data-lfr-editable-id="title-hero"
            data-lfr-editable-type="rich-text"
        >
            All-in-one portal to server your customers
        </h1>
        <p 
            class="hero-container__text"
            aria-label="Description"
            data-lfr-editable-id="hero-description"
            data-lfr-editable-type="rich-text"
        >
            Ensure customer satisfaction across the lifecycle of your product sales
        </p>
    </div>
    <div class="hero-container__image">
        <img 
            class="hero-container__image-hero"
            src="[resources:customer-dashboard.svg]"
            alt="Customer Dashboard"
            aria-label="Customer Dashboard"
            data-lfr-editable-id="image-editable-hero-image"
            data-lfr-editable-type="image"
        >
    </div>
</div>
