.cp-team-members-table-wrapper {
	.table-responsive {
		height: 44.8vh !important;
	}

	thead {
		top: 0;
		z-index: 999;
	}
}

.remove-user-modal {
	.modal-header,
	.modal-footer,
	.modal-body {
		border-width: 0;
	}
}
