.lfr-objects__model-builder-right-sidebar-definition-node {
	&-title {
		border-bottom: 1px solid #f1f2f5;
		color: #272833;
		font-size: 14px;
		font-weight: 600;
		height: 3.3rem;
		line-height: 21px;
		padding: 1rem;
		width: 17.5rem;
	}

	&-content {
		border-bottom: 1px solid #f1f2f5;
		padding: 1rem 1rem 0;
	}
}
.toggle-switch {
	margin-bottom: 1.5rem;
}
