@import 'atlas-variables';

#createAPIApplicationModal {
	textarea.form-control {
		min-height: 136px !important;
	}

	#modalURLField {
		margin-bottom: 3px !important;
	}

	#hostTextPreview {
		margin-bottom: 7px !important;
	}
}

#portlet_com_liferay_headless_builder_web_internal_portlet_HeadlessBuilderPortlet {
	.card-type-asset {
		.card-body {
			padding: 1.5rem;

			:last-child {
				margin-bottom: 0;
			}

			textarea.form-control {
				min-height: 136px !important;
			}

			#modalURLField {
				margin-bottom: 3px !important;
			}

			#hostTextPreview {
				margin-bottom: 7px !important;
			}
		}
	}

	.management-bar {
		h2.toolbar-title {
			font-size: 1.1875rem;
		}
	}

	.api-app-details {
		max-width: 1000px;
	}
}

#deleteAPIApplicationModal {
	p {
		strong#titleConfirmationElement {
			white-space: pre !important;
		}
	}
}

#createAPISchemaModal {
	@media screen and (min-height: 1000px) {
		.dropdown-menu-select {
			max-height: 400px !important;
		}
	}

	@media screen and (max-height: 999px) {
		.dropdown-menu-select {
			max-height: 200px !important;
		}
	}
}

.info-tab {
	padding: 0 !important;
}

.select-field-icon {
	bottom: 0;
	color: $secondary !important;
	margin: auto !important;
	pointer-events: none;
	position: absolute;
	right: 1rem;
	top: 0;
}

.api-builder-navigation-breadcrum {
	.breadcrumb-item {
		cursor: pointer;
	}
}
