hr {
	margin: 6px;
}

.lfr-objects__model-builder-node-header {
	&-container {
		background: #f7f8f9;
		border-radius: 0.25rem 0.25rem 0 0;
		height: 5.3rem;
		padding: 1rem;
		width: 17.5rem;
	}

	&-label-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&-label-title {
		align-items: baseline;
		display: flex;
		font-size: 14px;
		font-weight: 600;
		gap: 4px;
		justify-content: space-between;
		line-height: 1.3rem;
	}
}
