@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .page-audit {
	&__experience-selector .btn:not(.btn-unstyled) {
		padding-right: 2em;
	}

	&__fragmentList {
		border: 1px solid $cadmin-gray-300;
		border-radius: 4px;

		.page-audit__fragment {
			&:not(:last-child) {
				border-bottom: 1px solid $cadmin-gray-300;
			}

			&:focus-within,
			&:hover {
				background-color: $cadmin-primary-l3;

				.page-audit__fragment__buttons {
					opacity: 1;
				}
			}

			&__buttons {
				opacity: 0;
			}
		}
	}
}

.page-audit__fragment {
	&__popover {
		min-width: 500px;
		position: absolute;
	}

	&--highlight {
		position: relative;

		&:after {
			background-color: rgba($cadmin-primary-l1, 0.5);
			border: 2px solid $cadmin-primary-l1;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
